.select{
    width: 160px;
    margin: 10px 0px 70px 0px;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    border-image: linear-gradient(to top right, rgb(255, 0, 200) 0%, rgb(43, 70, 223) 100%) 1;
    outline: none;

}
.option{
    color: white;
    background: rgb(40, 35, 52);
}
.firstSelect{
    margin: 40px 0px 70px 0px;
}