.img{
    margin-top: 80px;
    margin-left: 50px;
    width: 40%;
    height: 450px;
    float: left;
}
.container{

    margin-top: 80px;
    margin-right: 50px;
    width: 52%;
    height: 450px;
    float: right;
    color: white;
    font-size: 12px;
    border: 1px solid white;
}
.description{
    margin: 10px;
}
.button{
    background-color: transparent;
    color: white;
    border-image: linear-gradient(to top right, rgb(255, 0, 200) 0%, rgb(43, 70, 223) 100%) 1;
    position:absolute;
    top: 93%;
    left: 50%;
    cursor: pointer;
}
.loading{
    margin-top: 200px;
    color: white;
}
